*.py[cod]
venv/
pkg/
__pycache__/
.vscode/
test.py
main.spec
src/build/main/Analysis-00.toc
src/build/main/base_library.zip
src/build/main/COLLECT-00.toc
src/build/main/EXE-00.toc
src/build/main/main.pkg
src/build/main/PKG-00.toc
src/build/main/PYZ-00.pyz
src/build/main/PYZ-00.toc
src/build/main/warn-main.txt
src/build/main/xref-main.html
src/dist/file
src/file
src/pause.wav
src/teste.py
src/build/main/main.exe
*.toc
*.pyz
*.toc
